<div class="col s12 m6 l4">
    <div class="card hoverable teal lighten-5">
        <div class="card-content center-align">
            <h2>{{ name }}</h2>
            <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
        </div>
        <div class="card-action">
            <ul class="collection">
                <li class="collection-item">ID: {{ id }}</li>
                <li class="collection-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="collection-item">GitHub: <a href="https://github.com/{{ github }}" target="_blank"
                        rel="noopener noreferrer">{{ github }}</a></li>
            </ul>
        </div>
    </div>
</div>